<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
            Choose Widget
        </a>

    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-12">
        <ul class="list-group cl-text-blue borderless">
            <li class="list-group-item">

                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">

                    <!--// add a widget.new.view.client.html-->
                    <!--// which is similar to widget.edit-->
                    <!--// after {{model.pid}}/blah/blah/HEADING-->
                <!--<a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">-->
                    Header
                </a>
            </li>

            <li class="list-group-item">
                <!--widget-edit.view.client.html-->
                           <!--/user/:uid/website/:wid/page/:pid/widget/:wgid-->
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    HTML
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
                    Image
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
                    Youtube
                </a>
            </li>
        </ul>

    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
