<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="widget-list.view.client.html">
            Choose Widget
        </a>

    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-12">
        <ul class="list-group cl-text-blue borderless">
            <li class="list-group-item">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">

                    <!--// add a widget.new.view.client.html-->
                    <!--// which is similar to widget.edit-->
                    <!--// after {{model.pid}}/blah/blah/HEADING-->
                <!--<a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">-->
                    Header
                </a>
            </li>
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--Label-->
                <!--</a>-->
            <!--</li>-->
            <li class="list-group-item">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">
                    HTML
                </a>
            </li>
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--Text Input-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--Link-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--Button-->
                <!--</a>-->
            <!--</li>-->
            <li class="list-group-item">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">
                    Image
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">
                    Youtube
                </a>
            </li>
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--Data Table-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--Repeater-->
                <!--</a>-->
            <!--</li>-->
        </ul>

    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="../../user/templates/profile.view.client.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
