<!--<div ng-switch="widget.size">-->
    <!--<h1 ng-siwtch-when="1">{{widget.text}}</h1>-->
    <!--<h2 ng-siwtch-when="2">{{widget.text}}</h2>-->
    <!--<h3 ng-siwtch-when="3">{{widget.text}}</h3>-->
    <!--<h4 ng-siwtch-when="4">{{widget.text}}</h4>-->
    <!--<h5 ng-siwtch-when="5">{{widget.text}}</h5>-->
    <!--<h6 ng-siwtch-when="6">{{widget.text}}</h6>-->
<!--</div>-->

<!--Need to edit P-->
<div class="adjusted-li">
    <div class="relative-position">
        <h1>{{widget.text}}</h1>
        <div class="widget-adj">

            <div class="pull-right cl-icon-padding">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog "></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
        </div>
    </div>
</div>



<!--///-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Widget List</title>-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>-->

    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <!--<link href="css/style.css" rel="stylesheet"/>-->
<!--</head>-->
<!--<body>-->

<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<a class="cl-text-white navbar-brand cl-text-bold" href="page-list.html">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->
        <!--<a class="cl-text-white navbar-brand cl-text-bold" href="#">-->
            <!--Widgets-->
        <!--</a>-->
        <!--<a href="widget-chooser.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">-->
            <!--<span class="glyphicon glyphicon-plus"></span>-->
        <!--</a>-->
    <!--</div>-->
<!--</nav>-->

<!--<div class="row container-fluid">-->
    <!--<div class="col-sm-12 overflow-y">-->
        <!--<ul class="list-group borderless">-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>-->
                <!--</a>-->
                <!--<a href="widget-heading.html">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--<div class="cl-widget-header">-->
                    <!--ALICE DAY-->
                <!--</div>-->

            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--<div class="cl-subHeading">-->
                    <!--Read more to learn about Alice Day-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>-->
                <!--</a>-->
                <!--<a href="widget-image.html">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--<img src="http://www.snopes.com/media/graphics/alicewonderland.jpg" class="img-responsive" alt="Responsive image">-->

            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--Alice Day received her undergrad in Journalism and Political Science-->
                <!--from the Universiy of Washington. She is currently persuing a masters-->
                <!--degree in Computer Science from Northeastern University in Seattle.-->
                <!--In her spare time she likes to watch Youtube videos and sleep.-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>-->
                <!--</a>-->
                <!--<a href="widget-youtube.html">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--<div class="cl-subHeading">-->
                    <!--Hello Hello Expo Top Song of 2015-->
                <!--</div>-->
                <!--<div class="embed-responsive embed-responsive-16by9">-->
                    <!--<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/?listType=user_uploads&list=YOURCHANNELNAME"></iframe>-->
                <!--</div>-->

            <!--</li>-->
            <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-cog pull-right"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;Hi my name is Alice!&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--<li class="list-group-item">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--<div class="cl-low-padding">-->
                    <!--To learn more about Alice's favorite music. You can follow her on her social media's @alicedaylight.-->
                <!--</div>-->
            <!--</li>-->

        <!--</ul>-->

    <!--</div>-->


<!--</div>-->


<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--<div class="container-fuild">-->
        <!--<a href="profile.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">-->
            <!--<span class="cl-text-blue glyphicon glyphicon-user"></span>-->
        <!--</a>-->

        <!--<a href="#" class="navbar-link navbar-text pull-left cl-text-white cl-icon-padding">-->
            <!--<span class="glyphicon glyphicon-play pull-left cl-icon-padding"></span>-->
            <!--<span class="glyphicon glyphicon-eye-open pull-left"></span>-->

        <!--</a>-->
    <!--</div>-->
<!--</nav>-->

</body>
</html>