<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
            Widget Edit
        </a>
        <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>


<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADING">
        <ng-include src="'widget-heading-edit.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'widget-image-edit.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'widget-youtube-edit.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'widget-html-edit.view.client.html'"></ng-include>    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>


<!--console.log(website edit view);-->
