<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="../../page/templates/page-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            Widgets
        </a>
        <a href="widget-chooser.view.client.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div ng-repeat="widget in model.widgets" class="row container-fluid">
    {{widget.name}}

    <div class="col-sm-12 overflow-y">
        <ul class="list-group borderless">
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>
                </a>
                <a href="widget-heading.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <div class="cl-widget-header">
                    ALICE DAY
                </div>

            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <div class="cl-subHeading">
                Read more to learn about Alice Day
                </div>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>
                </a>
                <a href="widget-image.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <img src="http://www.snopes.com/media/graphics/alicewonderland.jpg" class="img-responsive" alt="Responsive image">

            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                Alice Day received her undergrad in Journalism and Political Science
                from the Universiy of Washington. She is currently persuing a masters
                degree in Computer Science from Northeastern University in Seattle.
                In her spare time she likes to watch Youtube videos and sleep.
            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>
                </a>
                <a href="widget-youtube.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <div class="cl-subHeading">
                Hello Hello Expo Top Song of 2015
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/?listType=user_uploads&list=YOURCHANNELNAME"></iframe>
                </div>

            </li>

            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-align-justify pull-right cl-icon-padding cl-text-black"></span>
                </a>
                <a href="#!/user/{{$routeParams.uid}}/website/:wid/page/:pid/widget/:wgid">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <div class="cl-low-padding">
                    To learn more about Alice's favorite music. You can follow her on her social media's @alicedaylight.
                </div>
            </li>

        </ul>

    </div>


</div>

<!--//iframe is a url that lives outside of our source-->
<!--// it could have scripts etc that wreck havoc on our website-->
<div ng-repate="widget in widgets">
    <div ng-switch="widget.widgetType">
        <div ng-switch-when="HEADING">
            <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
        </div>
        <div ng-switch-when="IMAGE">
            <img ng-src="{{widget.url}}" width="widget.width">
        </div>
        <div ng-switch-when="HTML"
             ng-bind-html="model.trust(widget.text)">
            {{widget.text}}</div>
        <div ng-switch-when="YOUTUBE">
            <iframe class="embed-responsive-item"
                    src="{{model.getYouTubeEmbedUrl(widget.url)}}"></iframe>

            YOUTUBE widget {{widget.url}}</div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="../../user/templates/profile.view.client.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>

        <a href="#" class="navbar-link navbar-text pull-left cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-play pull-left cl-icon-padding"></span>
            <span class="glyphicon glyphicon-eye-open pull-left"></span>

        </a>
    </div>
</nav>

<!--need to put quotes around it because-->
<!--the path can be a variable can to rendered at runtime
... logic that depends on some criteria
.... here, don't interpret this as a variable.. it is literally
a string of where this lives-->
<!--<div ng-include="'views/common/footer.view.client.html'"></div>-->