<div ng-switch="widget.widgetType">
    <div ng-switch-when="HEADING">
        <ng-include src="'widget-heading-edit.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'widget-image-edit.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'widget-youtube-edit.view.client.html'">
    </div>
</div>

<!--// stuff below is from previous -->

<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left cl-text-white no-margin-left">
                <a href="#!/user/:uid/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="cl-text-white navbar-brand cl-text-bold" href="#">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right thirty-margin-right">
                <a href="#!/user/:uid/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-8 ">
            <div class="navbar-text pull-left cl-text-whit no-margin-left">
            </div>
            <div class="navbar-text pull-right thirty-margin-right">
                <a href="#!/user/:uid/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-text pull-left cl-text-white no-margin-left visible-xs">
                <a href="#!/user/:uid/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="cl-text-white navbar-brand cl-text-bold" href="#">
                    Edit Website
                </a>
            </div>
        </div>

    </div>
</nav>


<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs overflow-y">
        <ul class="list-group cl-text-blue borderless">
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                Blogging App
            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                Address Book App
            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                Script Testing App
            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                Blogger
            </li>
        </ul>

    </div>

    <div class="col-xs-12 col-sm-8 pull-right">
        <form>
            <div class="form-group">
                <label for="exampleInputName">Website Name</label>
                <input ng-model="model.user.inputName"
                        type="text" class="form-control" id="exampleInputName" placeholder="Blogger">

            </div>
            <div class="form-group">
                <label for="exampleInputDescription">Website Description</label>
                <textarea ng-model="model.user.inputDescription"
                        input type="text" class="form-control" id="exampleInputDescription" placeholder="Blogger is a blog-publishing" rows="5"></textarea>
            </div>
            <!--<a href="#!/user/:uid/website" class="btn btn-danger btn-block">Delete</a>-->
            <a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block">Delete</a>



        </form>
    </div>

</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
    <div class="container-fuild">
        <a href="#!/user/:uid" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

