<div class="container">
    <form class="cl-form-bottom-padding">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
        <label for="text">Text</label>
        <input type="text" class="form-control" placeholder="US Senate Reaches Compromise on Emergency" id="text" required>
        <label for="number">Size</label>
        <input type="number" class="form-control" placeholder="3" id="number" required>
        <a href="#!/user/:uid/website/:wid/page/:pid/widget" class="btn btn-danger btn-block">Delete</a>

    </form>
</div>