<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#/user/:uid/website">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/:uid/website/:wid/page/:pid/widget">
            Pages
        </a>
        <a href="#!/user/:uid/website/:wid/page/new" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div ng-repeat="page in model.pages" class="row container-fluid">
    <!--{{page.name}}-->
    <!--hello world-->

    <div class="col-sm-12">
        <ul class="list-group cl-text-blue borderless">
            <li class="list-group-item">
                <a href="#!/user/{{mode.uid}}/website/{{model.wid}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <a href="#!/user/:uid/website/:wid/page/:pid/widget" >{{page.name}}</a>
            </li>
            <!--<li class="list-group-item">-->
                <!--<a href="#!/user/:uid/website/:wid/page/:pid">-->
                <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--Blogs-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#!/user/:uid/website/:wid/page/:pid">-->
                <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--Home-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#!/user/:uid/website/:wid/page/:pid">-->
                <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--About-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
                <!--<a href="#!/user/:uid/website/:wid/page/:pid">-->
                <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
                <!--Contact Us-->
            <!--</li>-->
        </ul>

    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/:uid" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
