<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="page-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            Edit Page
        </a>
        <a href="#!/user/:uid/website/:wid/page" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container">
    <form class="cl-form-bottom-padding">
        <label for="name">Name</label>
        <input ng-model="model.user.name"
               type="text" class="form-control" placeholder="Blog Post" id="name" required>
        <label for="title">Title</label>
        <input ng-model="model.user.title"
                type="text" class="form-control" placeholder="Page Title" id="title" required>
        <a href="#!/user/:uid/website/:wid/page" class="btn btn-danger btn-block">Delete</a>

    </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/:uid" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>

    </div>
</nav>

